.layout {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: 'header' 'page' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  &__dash {
    display: grid;
    width: 100%;
    position: relative;
    z-index: 1;
    height: 100%;
    grid-template-rows: auto;
    grid-template-columns: 280px 1fr 1fr;
    grid-template-areas:
      'header header header'
      'menu page page';
  }
}

.header {
  grid-area: header;
}

.page {
  grid-area: page;
}

.menu {
  grid-area: menu;
}

.footer {
  grid-area: footer;
}

//.container {
//  max-width: 1200px;
//  margin: 0 auto;
//  padding: 0 15px;
//}
//
//@media (max-width: 1200px) {
//  .container {
//    max-width: 970px;
//  }
//}
//
//@media (max-width: 992px) {
//  .container {
//    max-width: 750px;
//  }
//}
//
//@media (max-width: 767px) {
//  .container {
//    max-width: none;
//  }
