.theme_button {
  margin-left: 20px;
  border-radius: 50%;
  background-color: #2981e600;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.moon {
  width: 20px;
  height: 20px;
}
