body {
  position: relative;
  @include theme-aware('color', 'body-color-font');
  @include theme-aware('background-color', 'color-background');
  font-family: $common-font;
  line-height: 1.2;
}

* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

li {
  list-style-type: none;
}
h2 {
  font-size: 28px;
  line-height: 1.2;
}

a {
  &:hover {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }

  &:link {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}

p {
  margin: 0;
}

.container {
  //max-width: 1440px;
  width: 100%;
  margin: auto;
}

.hideScroll {
  overflow: auto;
  position: fixed;
}

.link {
  display: block;
  @include theme-aware('color', 'color-link');

  &.active-btn .default-big {
    @include theme-aware('color', 'color-link');
    @include theme-aware('background-color', 'body-color-link');
  }
}

.hideScroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.btn {
  // width: 100%;
  @include theme-aware('background', 'color-bg-btn');
  font-size: 18px;
  font-family: $second-font;
  line-height: 1.1;
  padding: 17px 0 17px 0px;
  text-align: center;
  border: none;
  border: 1px solid;
  font-weight: 700;
  @include theme-aware('border-color', 'border-btn-transparent');
  @include theme-aware('color', 'color-btn-font');
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    @include theme-aware('background', 'color-bg-btn-active');
  }

  &:active {
    @include theme-aware('background', 'color-bg-btn-active');
  }
  &__acc {
    padding: 10px;
  }
  &__map {
    box-shadow: none;
    padding: 10px;
  }
  &__map-sampling {
    display: block;
    width: 300px;
    margin: auto;
  }
  &__cancel {
    padding: 10px;

    @include theme-aware('background', 'cancel-bg-btn');
    i {
      font-weight: bold;
      font-size: 14px;
      margin-right: 11px;
    }
  }

  &__submit-report {
    @include theme-aware('background', 'normal-orange');
  }

  &__send-invite {
    @include theme-aware('background', 'confirmed');
  }

  &__login {
    padding: 17px 10px 17px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    & i {
      font-size: 28px;
      margin-right: 17px;
    }
  }
  &__launch {
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;

    & i {
      font-size: 24px;
      margin-right: 17px;
    }
  }

  &.reg {
    border-radius: 0px;
    border: none;
    @include theme-aware('color', 'body-color-font');
  }
  &__reset {
    box-shadow: none;
    i {
      &:before {
        color: white !important;
      }
    }
    background: $lightRed !important;
    &:hover {
      background: $red !important;
    }
    &:active {
      background: $red !important;
    }
  }

  &__next {
    padding: 12px;
  }
}

.gen-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  @media screen and (max-width: 768px) {
    font-size: 32px;
  }
}

.soon {
  padding: 150px 40px;
  max-width: 1000px;
  text-align: center;
  width: 100%;
  margin: auto;
  & .gen-title {
    font-size: 72px;
  }

  &__wrapper-btn {
    max-width: 200px;
    margin: 50px auto;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  & .error {
    @include theme-aware('border-color', 'color-error-font');
  }
  & input,
  select {
    border: 1px solid transparent;
  }

  & select {
  }

  &__label {
    position: relative;
    font-size: 16px;
    &.required {
      &:before {
        content: '*';
        position: absolute;
        top: 0;
        left: -10px;
      }
    }
    &.bold {
      font-weight: 700;
    }
  }
  &__error {
    font-size: 12px;
    line-height: 1.4;
    @include theme-aware('color', 'color-error-font');
    position: absolute;
    bottom: -15px;
    left: 0;
  }
}

.no-scroll {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
