.icon-gear::before {
  color: #cecece;
  content: "\e91b";
}

.icon-open-arrow::before {
  color: #4d4d4d;
  content: "\e91c";
}

.icon-success::before {
  color: #fff;
  content: "\e919";
}

.icon-fail::before {
  color: #fff;
  content: "\e91a";
}

.icon-question::before {
  color: #ff586c;
  content: "\e918";
}

.icon-pin::before {
  content: "\e913";
}

.icon-arrow::before {
  color: #cecece;
  content: "\e912";
}

.icon-filter-validator::before {
  color: #8d8d8d;
  content: "\e900";
}

.icon-log-in::before {
  color: #cecece;
  content: "\e901";
}

.icon-account::before {
  color: #fff;
  content: "\e902";
}

.icon-charning::before {
  color: #cecece;
  content: "\e903";
}

.icon-clock::before {
  color: #cecece;
  content: "\e904";
}

.icon-close::before {
  color: #fff;
  content: "\e905";
}

.icon-earphons::before {
  color: #2ec3e9;
  content: "\e906";
}

.icon-galka::before {
  color: #2ec3e9;
  content: "\e907";
}

.icon-iconfile::before {
  color: #cecece;
  content: "\e908";
}

.icon-loop::before {
  color: #fff;
  content: "\e909";
}

.icon-marker::before {
  color: #fff;
  content: "\e90a";
}

.icon-plus-cir::before {
  color: #2ec3e9;
  content: "\e90b";
}

.icon-replace::before {
  color: #2ec3e9;
  content: "\e90c";
}

.icon-schems::before {
  color: #cecece;
  content: "\e90d";
}

.icon-setting::before {
  color: #cecece;
  content: "\e90e";
}

.icon-shield-gal::before {
  color: #cecece;
  content: "\e90f";
}

.icon-shield::before {
  color: #ffae4f;
  content: "\e910";
}

.icon-trash::before {
  color: #cecece;
  content: "\e911";
}

.icon-tree1::before {
  color: #fff;
  content: "\e914";
}

.icon-users1::before {
  color: #cecece;
  content: "\e915";
}

.icon-vilka1::before {
  color: #cecece;
  content: "\e916";
}

.icon-warning1::before {
  color: #ff6c58;
  content: "\e917";
}
