// Colors HEX
// Colors HEX
$white: #ffffff;
$dark: #252429;
$color-font: #4d4d4d;
$darkBlue: #1a1156;
$lightBlue: #2ec3e9;
$activeLightBlue: #45d4f8;
$tile_title_bottom_border: #797979;
$color-bg-input: #f5f5f5;
$green: #65b042;
$lightGreen: #3fdd7e;
$darkGreen: #173409;
$orange: #f79f53;
$blue: #2e5de9;
$red: #ff0000;
$lightRed: #ff6c58;
$transparent: transparent;
$login_background: #d5f3fb;
$map_color: #5d5a6d;
$btn_back: #dfdfdf;
$confirmed: #49c179;
$denied: #ff586c;
$lightPink: #ffeef0;

$color-icon-gray: #cecece;
$color-activeIcon-gray: #2ec3e9;
$color-bg-menu: #d5f3fb;
$grey: #cccccc;
$color-font-copy: #8d8d8d;
$color-bg-dash: #ebebeb;
$point-color-gray: #c4c4c4;

$lightGrey: #f3f3f3;
$secondGrey: #dddddd;

$map_geographies_fill_dark: #3f3e40;
$map_geographies_stroke_dark: #3f3e40;
$q_icon_bg: #828282;

// Colors RGBA
$tile_background: rgba(238, 238, 238, 1);
$tile_background_dark: #4d4c4f;
$border_color_gray: rgba(0, 0, 0, 0.79);
$page_background: #f3f3f3;
$page_background_dark: #252429;

$tile_title: rgba(64, 64, 64, 0.5);
$tile_title_bottom_border: rgba(215, 215, 215, 1);

// Fonts
$common-font: 'Lato', sans-serif;
$second-font: 'Roboto', sans-serif;
